[submodule "libZnicz/simd"]
	path = libZnicz/simd
	branch = master
	url = ssh://alserver.rnd.samsung.ru:29418/Simd.git
[submodule "libZnicz/OCLAlgo"]
	path = libZnicz/OCLAlgo
        branch = master
	url = ssh://alserver.rnd.samsung.ru:29418/OCLAlgo.git
